
 
     
.specfont{
   font-size: 2em;
   font-weight: bold;
   text-align: center;
}
#citation{
   text-align: center;
   font-style: italic;
   font-weight: lighter;
   
}
.specborder{
   border-radius: 0.25em;
}


#profil-picture {
   width:150px;
   height: 150px;
   background-color: grey;
   border-radius:50%;
   margin-top:50px;
   margin-left:120px;
}

#contact-image{
   width: 100%;
   height:auto;

}
.card-title-font{
   font-weight: 300;
   font-size:2em;
   margin-left:3%;
   margin-top:2%;
}
.col.s2 img{
   width:100%;
   height:100%;
   margin:70% 20%;

}
#logo {
   width:13%;
}
#school-logo{
  width:80%;
  margin-top:5%;
  margin-left:15%;
}
#rs-logo{
   width:10%;
   height:10%;
   margin-right: 5px;
}
.layout{
   
   margin-top:20px;
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.blog-icon-color{
   color:red;
   margin-top:-5px;
   }
.blog-date {
   font-weight:600;
   padding-top:500px;
   font-size: 16px;
}



@media only screen and  (min-width:360px) {
   #logo{
      width:28%;
      margin-left: 71px;
      margin-top: 7px;
   }
   #profil-picture{
      width:150px;
      height: 150px;
      background-color: grey;
      border-radius:50%;
      margin-top:50px;
      margin-left:28%;
   }

   #frame-pres{
      position:relative;
      left:-2%
   }
   #footer-rs-logo {
      width:300%
   }
  
}

@media only screen and (min-width:411px) and (max-width:420px){
   #logo{
      width:25%;
      margin-left: 75px;
      margin-top: 7px;
   }
   #profil-picture{
      width:150px;
      height: 150px;
      background-color: grey;
      border-radius:50%;
      margin-top:50px;
      margin-left:100px;
   }

   #frame-pres{
      position:relative;
      left:-2%
   }
   #footer-rs-logo {
      width:300%;
   }
   #view-port-mobile-visibility{
      display: none;
      
   }
  
}

@media only screen and (min-width: 768px){
   #view-port-desktop-visibility{
      display: none;
   }
   #logo{
      width:18%;
      margin-left: 125px;
      margin-top: 1px;
   }
   #profil-picture{
      width:150px;
      height: 150px;
      background-color: grey;
      border-radius:50%;
      margin-top:50px;
      margin-left:38%;
   }
   #rs-logo{
      width:7%
   }

   #frame-pres{
      position:relative;
      left:-2%
   }
   #footer-rs-logo {
      width:100%;
   }

}
